.card {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height:90%;
    padding: 50px 10px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
}

.card i {
    transition: color 0.3s ease;
    color: white;
}

.card span {
    transition: color 0.3s ease;
    color: white;
}
.card:hover span {
    transition: color 0.3s ease;
    color: black;
}

.card .cardTitle {
    color: white;
}
.card .cardText {
    color: white;
}

.card:hover i {
    color: black;
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.card:hover .cardTitle {
    color: black;
}
.card:hover .cardText {
    color: black;
}

.card.border-blue {
    background-color: #2db6fa;
}


.card.border-green {
    background-color: #28a745;
}

.card.border-pink {
    background-color: #d63384;
}

.card.border-red {
    background-color: #dc3545;
}

.card.border-orange {
    background-color: #fd7e14;
}

.card.border-purple {
    background-color: #6f42c1;
}






.card.border-blue:hover {
    background-color: white;
}


.card.border-green:hover {
    background-color: white;
}

.card.border-pink:hover {
    background-color: white;
}

.card.border-red:hover {
    background-color: white;
}

.card.border-orange:hover {
    background-color: white;
}

.card.border-purple:hover {
    background-color: white;
}


span {
    font-size: medium;
}

span:hover {
    font-size: large;
    color: black; 
    transition: 0.5s; 
}

.cardTitle {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    text-align: center; 
    transition: color 0.5s ease;
}

.cardText {
    color: #333;
    font-size: 1.2rem;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    text-align: center; 
    transition: color 0.5s ease;
}

.container {
    padding: 20px;
}


.border-blue {
    border-bottom: 3px solid #2db6fa;
}

.border-green {
    border-bottom: 3px solid #28a745;
}

.border-pink {
    border-bottom: 3px solid #d63384;
}

.border-red {
    border-bottom: 3px solid #dc3545;
}

.border-purple {
    border-bottom: 3px solid #6f42c1;
}

.border-orange {
    border-bottom: 3px solid #fd7e14;
}

@media (max-width: 768px) {

    /* .card.border-blue {
        background-color: #2db6fa;
    }
    
    
    .card.border-pink {
        background-color: #d63384;
    }

    
    .card.border-purple {
        background-color: #6f42c1;
    }
    .border-blue i {
        color: black;
    }
    
    .border-blue .cardTitle {
        color: black;
    }
    .border-blue .cardText {
        color: black;
    }

    .border-purple i {
        color: black;
    }
    
    .border-purple .cardTitle {
        color: black;
    }
    .border-purple .cardText {
        color: black;
    }

    .border-pink i {
        color: black;
    }
    
    .border-pink .cardTitle {
        color: black;
    }
    .border-pink .cardText {
        color: black;
    } */


}
