.card {
    box-shadow: 0px 0 30px rgba(1, 41, 112, 0.08);
    height:90%;
    padding: 50px 10px;
    text-align: center;
    transition: 0.3s;
    border-radius: 5px;
    background-color: white; /* Updated */
}

.card i {
    transition: color 0.3s ease;
    color: black; /* Updated */
}

.card span {
    transition: color 0.3s ease;
    color: black; /* Updated */
}

.card:hover span {
    transition: color 0.3s ease;
    color: white; /* Updated */
}

.card .cardTitle {
    color: black; /* Updated */
}

.card .cardText {
    color: black; /* Updated */
}

.card:hover i {
    color: white; /* Updated */
}

.card:hover {
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    background-color: #2db6fa; /* Updated */
}

.card:hover .cardTitle {
    color: white; /* Updated */
}

.card:hover .cardText {
    color: white; /* Updated */
}

.card.border-blue {
    background-color: white;
}

.card.border-green {
    background-color: white;
}

.card.border-pink {
    background-color: white;
}

.card.border-red {
    background-color: white;
}

.card.border-orange {
    background-color: white;
}

.card.border-purple {
    background-color: white;
}

.card.border-blue:hover {
    background-color: #2db6fa;
}

.card.border-green:hover {
    background-color: #28a745;
}

.card.border-pink:hover {
    background-color: #d63384;
}

.card.border-red:hover {
    background-color: #dc3545;
}

.card.border-orange:hover {
    background-color: #fd7e14;
}

.card.border-purple:hover {
    background-color: #6f42c1;
}

span {
    font-size: medium;
}

.learnmore:hover {
    font-size: large;
    color: black;
    transition: 0.5s;
}

.cardTitle {
    color: #333;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    text-align: center;
    transition: color 0.5s ease;
}

.cardText {
    color: #333;
    font-size: 1.2rem;
    border-radius: 10px 10px 0 0;
    padding: 20px;
    text-align: center;
    transition: color 0.5s ease;
}

.container {
    padding: 20px;
}

.border-blue {
    border-bottom: 3px solid #2db6fa;
}

.border-green {
    border-bottom: 3px solid #28a745;
}

.border-pink {
    border-bottom: 3px solid #d63384;
}

.border-red {
    border-bottom: 3px solid #dc3545;
}

.border-purple {
    border-bottom: 3px solid #6f42c1;
}

.border-orange {
    border-bottom: 3px solid #fd7e14;
}

@media (max-width: 768px) {
    /* no change abhi */
}
