/* .team-section {
    min-height: 100%;
    margin: 20px;
} */

.team-section .bg-white {
    transition: 0.7s, color 0.1s !important;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3) !important;
    
}

.team-section .bg-white:hover {
    background-color: #091627 !important;
    transform: scale(1.05);
    color: white;
    /* cursor: pointer; */
}

.border{
    border-bottom: 3px solid #091627 !important;
}

.social-link {
    width: 30px;
    height: 30px;
    border: 1px solid #ddd;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #091627;
    border-radius: 50%;
    transition: all 0.3s;
    font-size: 0.9rem;
    text-decoration: none;
    cursor: pointer;
}

.team-section .bg-white:hover .social-link {
    color: #091627;
    background-color: white;
}
.team-section .bg-white:hover .small.text-uppercase.text-muted {
    color: white !important;
}

.social-link:hover,
.social-link:focus {
    text-decoration: none;
    transform: scale(1.08);

}


@keyframes slideInFromLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInFromUp {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromDown {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInFromRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.animate-slide-in-0 {
    animation: slideInFromLeft 0.5s ease-out;
}

.animate-slide-in-1 {
    animation: slideInFromUp 0.5s ease-out;
}

.animate-slide-in-2 {
    animation: slideInFromDown 0.75s ease-out;
}

.animate-slide-in-3 {
    animation: slideInFromRight 0.5s ease-out;
}


@media (max-width: 768px) {

    .team-section .bg-white {
        background-color: #091627 !important;
        /* transform: scale(1.05); */
        color: white;
        cursor: pointer;
    }

    .team-section .bg-white .social-link {
        color: #091627;
        background-color: white;
    }
    .team-section .bg-white .small.text-uppercase.text-muted {
        color: white !important;
    }
    
    .social-link,
    .social-link:focus {
        text-decoration: none;
        transform: scale(1.08);
    
    }

}