.headline{
    color: white;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white; /* Set text color to white or any color that stands out against the overlay */
    text-align: center;
  }
  
  .content .h1 {
    font-family: 'Georgia', 'Times New Roman', serif;
    font-size: 48px !important;
    font-weight: 800 !important;
  }
  
  .content .span {
    font-size: 1.3rem;
  }

  .content {
    margin-top: 30px;
    /* height: 500px; */
    width: 60%;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
  }

  .slideIn {
    opacity: 0;
    animation: slideIn 1.5s forwards;
  }
  
  @keyframes slideIn {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fadeIn {
    opacity: 0; /* Start with text hidden */
    animation: fadeIn 2.5s forwards; /* Apply animation */
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0; /* Start with text hidden */
    }
    to {
      opacity: 1; /* Fade in text */
    }
  }

.bgVideo {
    position: relative;
    height: 100vh;
    min-height: 35rem;
    padding: 15rem 0;
    justify-content: flex-start;
    overflow: hidden; /* Ensure the video doesn't overflow its container */
}

.bgVideo video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the video covers the entire container */
    z-index: -1; /* Place the video behind other content */
}

.bgVideo::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the RGBA values and opacity as needed */
    z-index: 0; /* Ensure the overlay is behind the video */
}
  
  .customBtn {
    margin-top: 20px;
    text-decoration: none;
    width: 180px;
    height: 40px;
    background-color: #ebc51c;
    color: black;
    font-weight: 500;
    border-width: 2px;
    border-radius: 22px;
    transition: 0.5s ease;
    font-size: 16px !important;
    text-align: center;
  
  }
  
  .customBtn:hover {
    color: white;
    border-width: 2px;
    background-color: transparent;
    border-color: #ebc51c !important;
    transition: 0.5s ease;
    font-size: 16px !important;
  }

  /* Media query for mobile screens */
@media (max-width: 768px) {
  .content {
    width: 100%;
    padding: 20px;
    top: 45%
  }

  .content .h1 {
    font-size: 33px !important;
  }

  .content .span {
    text-align: center;
    margin-top: 25px;
    font-size: 15px !important;
  }

  .customBtn {
    width: 150px;
  }
}