

  .contact-container {
    width: 100%;
    background-size: cover;
    background-position: center;
  }
  
  #contact-form {
    background-size: cover;
    background-position: center;
    position: relative;
    /* padding: 1px 0;  */
    color: #000; /* Text color */
  }
  
  .title-wrap {
    margin-bottom: 50px; 
  }
  
  .contact-head{
    color: #000;
    font-size: 36px; 
    font-weight: 400; 
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px; 
  }
  
  /* .tech-subtitle {
    font-size: 18px;
    text-align: center;
  } */
  

  
  .form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Spacing between form fields */
    border: 1px solid #091627; /* Border color */
    border-radius: 5px; /* Rounded corners for form fields */
  }
  
  textarea.form-control {
    height: 150px; /* Adjust height of textarea */
  }

  
  .text-grey {
    color: #666; /* Gray text color */
  }
  
  /* Where to Find Us section */
  /* .section-content.pt-0 {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 50px; 
    margin-top: 50px; 
  }
  
  .section-content.pt-0 .row {
    margin-top: 30px;
  } */
  
  .lnr {
    font-size: 40px; /* Icon size */
  }

  .icon-large {
    font-size: 80px; /* Adjust the font size to make the icon larger */
}

.custom-margin{
  margin-top: 100px;

}
  
  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .contact-head{
      color: #000;
      font-size: 23px; 
      font-weight: 500; 
      text-align: center;
      text-transform: uppercase;
      position: relative;
      /* margin-bottom: 50px; */
      /* margin-top: -40px; */
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px; 
    }
    #contact-form {
      background-size: cover;
      background-position: center;
      position: relative;
      /* padding: 10px 0; */
      color: #000; /* Text color */
    }
    
  }
  