  /* .contactContainer {
    width: 100%;
    background-size: cover;
    background-position: center;
  } */
  
  #contactForm {
    background-size: cover;
    background-position: center;
    position: relative;
    /* padding: 1px 0;  */
    color: #000; /* Text color */
  }
  
  /* .titleWrrap {
    margin-bottom: 50px; 
  } */
  
  /* .contact-head{
    color: #000;
    font-size: 36px; 
    font-weight: 400; 
    text-align: center;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 50px;
    margin-top: -40px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px; 
  } */
  
  /* .tech-subtitle {
    font-size: 18px;
    text-align: center;
  } */
  
  
  .formControl {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px; /* Spacing between form fields */
    border: 1px solid #091627; /* Border color */
    border-radius: 5px; /* Rounded corners for form fields */
  }
  
  textarea.formControl {
    height: 150px; /* Adjust height of textarea */
  }

  
  /* .text-grey {
    color: #666; 
  } */
  
  /* Where to Find Us section */
  /* .section-content.pt-0 {
    background-color: rgba(255, 255, 255, 0.9); 
    padding: 50px; 
    margin-top: 50px; 
  }
  
  .section-content.pt-0 .row {
    margin-top: 30px;
  } */
  
  .lnr {
    font-size: 40px; /* Icon size */
  }

  .iconLarge {
    font-size: 80px; /* Adjust the font size to make the icon larger */
}

/* .iconLarge:hover {
  font-size: 90px; 
  transition: 0.5s;
} */

.custom-margin{
  margin-top: 100px;

}
  
.customBtn {
  text-decoration: none;
  width: 180px;
  height: 40px;
  background-color: #ebc51c;
  color: black;
  font-weight: 500;
  border-width: 2px;
  border-radius: 22px;
  transition: 0.5s ease;
  font-size: 16px !important;
  text-align: center;

}

.customBtn:hover {
  color: #000;
  border-width: 2px;
  background-color: transparent;
  border-color: #ebc51c !important;
  transition: 0.5s ease;
  font-size: 16px !important;
}

  /* Media query for smaller screens */
  @media (max-width: 768px) {
    .contact-head{
      color: #000;
      font-size: 23px; 
      font-weight: 500; 
      text-align: center;
      text-transform: uppercase;
      position: relative;
      /* margin-bottom: 50px; */
      /* margin-top: -40px; */
      font-family: 'Roboto', sans-serif;
      letter-spacing: 1px; 
    }
    #contact-form {
      background-size: cover;
      background-position: center;
      position: relative;
      /* padding: 10px 0; */
      color: #000; /* Text color */
    }
    
  }
  