.customNavbar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    z-index: 9999;
    transition: background-color 0.3s ease;
  }
 /* ab khud krle mein en folder structure thk krdia aur doosra ab jo classes k naam de tw woh different dio 
 1b. different name
 2. style.classname 
 3. images public/Assets k andar aayenge
 chal tw rahaa hai cdn add kr
 
 
 
 */
  .navbar-brand {
    margin-top: -18px;
    margin-left: 15px;
    user-select: none;
    cursor: pointer;
  }
  
  .navbar-scroll {
    background-color: #091627;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .nav-alignment {
    margin: auto;
  }
  
  .nav-alignment-btn {
    margin: auto;
  }
  
  .nav-item.dropdown:hover .custom-dropdown {
    display: block;
  }
  
  .dropdown-item:hover {
    color: black;
  }
  .navbar-nav .nav-item .nav-link {
    color: white;
    font-size: 18px !important;
    position: relative;
  }
  
  .navbar-nav .nav-item .nav-link.active {
    color:  #ebc51c;
  }
  
  .navbar-nav .nav-item .nav-link::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0; /* Initial width is 0 */
    height: 1.5px; /* Thickness of the line */
    background-color: #ebc51c;
    transition: width 0.3s ease; /* Add transition for width */
    right: 100%; /* Initial position */
  }
  
  .navbar-nav .nav-item .nav-link:hover::before {
    width: 100%; /* Expand width to 100% on hover */
  }

  .mx-custom {
    margin-left: 25px;
  }
  .custom-size {
    width: 80%;
    margin-top: 70px;
  }

  .custom-btn-light:hover {
    width: 180px;
    color: white;
    border-width: 2px;
    border-radius: 22px;
    transition: 0.5s ease;
    border-color: #ebc51c;
    font-size: 18px !important;
  
  }
  .custom-btn-light {
    width: 180px;
    background-color: #ebc51c;
    border-width: 2px;
    border-radius: 22px;
    font-size: 18px !important;
  
  }